body{
    background-image:url('../../assets/background.png');
}

.wrapper {
    /* First define the column count  */
    display: grid;

    /* define columns */
    grid-template-columns: repeat(12, 1fr);

    /* 2nd, define rows  */
    grid-auto-rows: minmax(100px, auto);

    /* column gap  */
    grid-column-gap: 2rem;
    /* row gap */
    grid-row-gap: 2rem;
/* define areas for elements */
    grid-template-areas: 
    "ln ln ln ln l l l l rn rn rn rn"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f";
}

/* setup of base of page */

.leftnav {

    grid-area: ln;
}

.logo {
    grid-area: l;
    display: grid;
    place-items: center;
}

.rightnav {
    grid-area: rn;
}

.main {
    grid-area: m;
    
}

.footer {
    grid-area: f;
}

/* setup of fonts and text size */
.main h1 {
    font-size: 2rem;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}
.main h2 {
    font-size: 1.5rem;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

.main p {
    font-size: 1.1rem;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

.main p2 {
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

.main p3 {
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}
footer h1{
    font-size: 1rem;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

footer p{
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

/* navbar setup of links and styling */

.logo img{
    max-width: 100%;
    height: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    overflow: hidden;
}


.leftnav li {
    float: right;
    padding: 10px;  
}

.rightnav li {
    float: left;
    padding: 10px;
}

.navbar li a {
    text-decoration: none;
    font-family: 'Sansita Swashed', cursive;
    display: block;

}

.navbar li a:link {
    color: black;
}

.navbar li a:visited {
    color: black;
}

.navbar li a:hover {
    text-decoration: underline;
}

.navbar li a:active {
    color: grey;
}

.indexmain{
    display: grid;

        /* define columns */
    grid-template-columns: repeat(12, 1fr);
    
    /* column gap  */
    grid-column-gap: 2rem;

    /* add row gap */
    row-gap: 1rem;

    /* define areas for elements */
    grid-template-areas:
        " it1 it1 it1 it1 it1 it1 ii1 ii1 ii1 ii1 ii1 ii1"
        " ii2 ii2 ii2 ii2 ii2 ii2 it2 it2 it2 it2 it2 it2"
        " ii2 ii2 ii2 ii2 ii2 ii2 so so so so so so"
        " . . ii3 ii3 ii4 ii4 ii5 ii5 ii6 ii6 ii6 ."
        " . . ii7 ii7 it3 it3 it3 it3 ii8 ii8 ii8 ."
        " . . ii9 ii9 ii10 ii10 ii11 ii11 ii12 ii12 ii12 ."
;
}
/* setting up elements for index */
.indextext1 {
    grid-area: it1;
    display: grid;
    place-items: center;
}

.indeximage1 {
    grid-area: ii1; 
    display: grid;
    place-items: center;
}


.indeximage2 {
    grid-area: ii2;
    display: grid;
    place-items: center;

}

.indextext2 {
    grid-area: it2;
    display: grid;
    place-items: center;
}


/* setting up social links on main page */
.socials{
    grid-area: so;
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-rows: 1, 1fr;
    place-items: center;

}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2rem;
}

.fa:hover {
    opacity: 0.7;
    
  }

  /* Facebook */
.fa-facebook {
    background: dimgray;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: dimgray;
    color: white;
  }

  /* instagram */
  .fa-instagram {
    background: dimgray;
    color: white;
  }

  /* index images */
.indeximage3{
    grid-area: ii3;
    display: grid;
}
.indeximage4{
    grid-area: ii4;
    display: grid;
    
}
.indeximage5{
    grid-area: ii5;
    display: grid;
    
}
.indeximage6{
    grid-area: ii6;
    display: grid;
    
}
.indeximage7{
    grid-area: ii7;
    display: grid;
    
}
.indeximage8{
    grid-area: ii8;
    display: grid;
    
}
.indeximage9{
    grid-area: ii9;
    display: grid;
    
}
.indeximage10{
    grid-area: ii10;
    display: grid;
    
}
.indeximage11{
    grid-area: ii11;
    display: grid;
    
}
.indeximage12{
    grid-area: ii12;
    display: grid;
    
}
.indextext3{
    grid-area: it3;
    display: grid;
    place-items: center;
}

/* covid19 page */
.covid19main {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    
    /* column gap  */
    grid-column-gap: 2rem;
/* row gap */
    row-gap: 1rem;
/* define areas for elements */
    grid-template-areas:
    ". c19t1 c19t1 c19t1 c19t1 c19t1 c19t1 c19t1 c19t1 c19t1 c19t1 ."
    "c19i2 c19i2 c19i2 c19i2 c19i2 c19i2 c19i1 c19i1 c19i1 c19i1 c19i1 c19i1"

    ;
}

/* setting up elements for covid 19 */
.covid19text1{
    grid-area: c19t1;

} 

.covid19text1 p{
    text-align: left;
}

.covid19text1 li{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1rem ;
    list-style: square;
    margin-left: 10px ;
}

.covid19image1{
    grid-area: c19i1;
    display: inline;
}
    

.covid19image2{
    grid-area: c19i2;
    display: inline;

}

/* news page */
.newsmain {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    
    /* column gap  */
    grid-column-gap: 2rem;
/* row gap */
    row-gap: 2rem;
/* define areas for elements */
    grid-template-areas:
    "nt1 nt1 nt1 nt1 nt1 nt1 nt2 nt2 nt2 nt2 nt2 nt2"
    "nt3 nt3 nt3 nt3 nt3 nt3 nt4 nt4 nt4 nt4 nt4 nt4"
    "nt5 nt5 nt5 nt5 nt5 nt5 nt6 nt6 nt6 nt6 nt6 nt6"
}

/* setting up elements for news */
.newsitem1{
    grid-area: nt1;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-image:url('../../assets/paper.jpg');

}
.newsitem2{
    grid-area: nt2;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-image:url('../../assets/paper.jpg');

}
.newsitem3{
    grid-area: nt3;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-image:url('../../assets/paper.jpg');

}
.newsitem4{
    grid-area: nt4;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-image:url('../../assets/paper.jpg');

}
.newsitem5{
    grid-area: nt5;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-image:url('../../assets/paper.jpg');

}
.newsitem6{
    grid-area: nt6;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-image:url('../../assets/paper.jpg');

}

/* festivals page */
.festivalsmain {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    
    /* column gap  */
    grid-column-gap: 2rem;
/* row gap */
    row-gap: 2rem;
/* define areas for elements */
    grid-template-areas:
    "fi fi fi fi fi ft ft ft ft ft ft ft "
    ". . . . . ft ft ft ft ft ft ft"
    ;
}

/* setting up elements for festivals  */
.festivalstext{
    grid-area: ft;
    display: grid;
    place-items: center;
}

.festivalslogo{
    grid-area: fi;
    display: grid;
    place-items: center;
    
}

/* citycommissions page */
.citycommissionsmain{
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    
    /* column gap  */
    grid-column-gap: 2rem;
/* row gap */
    row-gap: 2rem;
    /* define areas for elements */
    grid-template-areas:
    "cci cci cci cci cci cci cct cct cct cct cct cct" 
    ". . . . . . cct cct cct cct cct cct"
    ;
}

/* setting up elements for citycommissions */
.citycommissionstext{
    grid-area: cct;
    display: grid;
    place-items: center;
}

.citycommissionsimage{
    grid-area: cci;
    display: grid;
    place-items: center;
}
/* suporters page */
.supportersmain{
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    
    /* column gap  */
    grid-column-gap: 2rem;
/* row gap */
    row-gap: 2rem;
    /* define areas for elements */
    grid-template-areas:
    "st1 st1 st1 st1 st1 st1 st2 st2 st2 st2 st2 st2"
    "st1 st1 st1 st1 st1 st1 st3 st3 st3 st3 st3 st3"    
    ;
}
/* setting up elements for supporters */
.supporterstext1{
    grid-area: st1;
}
.supporterstext2{
    grid-area: st2;
}
 
/* subgrid for donaters */
.supporterstext3{
    grid-area: st3;
    display: grid;

    grid-template-columns: 2;

    grid-column-gap: 2rem;
/* row gap */
    row-gap: 2rem;

    grid-template-areas: 
    "r1 r2"
    ;
}
/* defining subgrid items */
.row1{
    grid-area: r1;
}
.row2{
    grid-area: r2;
}

/* people page */
.peoplemain {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    
    /* column gap  */
    grid-column-gap: 2rem;
/* row gap */
    row-gap: 3rem;
/* define areas for elements */
    grid-template-areas:
    "pt pt pt pt pt pt pt pt pt pt pt pt"
    "p1 p1 p1 p1 p1 p1 p2 p2 p2 p2 p2 p2"
    "p3 p3 p3 p3 p3 p3 p4 p4 p4 p4 p4 p4"
    "p5 p5 p5 p5 p5 p5 p6 p6 p6 p6 p6 p6"
    "p7 p7 p7 p7 p7 p7 p8 p8 p8 p8 p8 p8"
    ;

}
/* setting up elements for people*/
.peopletext{
    grid-area: pt;
    display: grid;
    place-items: center;
}

.person1 {
    grid-area: p1;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-image:url('../../assets/paper.jpg');
    
}
.person2 {
    grid-area: p2;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-image:url('../../assets/paper.jpg');
    
}
.person3 {
    grid-area: p3;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-image:url('../../assets/paper.jpg');
}
.person4 {
    grid-area: p4;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-image:url('../../assets/paper.jpg');
}
.person5 {
    grid-area: p5;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-image:url('../../assets/paper.jpg');
}
.person6 {
    grid-area: p6;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-image:url('../../assets/paper.jpg');
}
.person7 {
    grid-area: p7;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-image:url('../../assets/paper.jpg');
}
.person8 {
    grid-area: p8;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-image:url('../../assets/paper.jpg');
}



/* media queries for breakpoints of each page */

 @media (max-width:73.125rem) {
    .indexmain{    
        display: grid;
   
       grid-template-columns: repeat(12, 1fr);
       
       /* column gap  */
       grid-column-gap: 2rem;
   /* row gap */
       row-gap: 3rem;
       /* define areas for elements */
       grid-template-areas:
       " it1 it1 it1 it1 it1 it1 ii1 ii1 ii1 ii1 ii1 ii1"
       " ii2 ii2 ii2 ii2 ii2 ii2 it2 it2 it2 it2 it2 it2"
        " ii2 ii2 ii2 ii2 ii2 ii2 so so so so so so"
        ". . . . it3 it3 it3 it3 . . . ."
       ". . . . ii6 ii6 ii6 ii6 . . . ."
       "ii3 ii3 ii3 ii3 ii4 ii4 ii4 ii4 ii5 ii5 ii5 ii5"
       "ii7 ii7 ii7 ii7 ii12 ii12 ii12 ii12 ii8 ii8 ii8 ii8"
       "ii9 ii9 ii9 ii9 ii10 ii10 ii10 ii10 ii11 ii11 ii11 ii11"
       ;
   
    }

    

} 


@media (max-width:62.5rem) {
    .indexmain{    
        display: grid;
   
       grid-template-columns: repeat(12, 1fr);
       
       /* column gap  */
       grid-column-gap: 2rem;
   /* row gap */
       row-gap: 3rem;
       /* define areas for elements */
       grid-template-areas:
       "ii1 ii1 ii1 ii1 ii1 ii1 ii1 ii1 ii1 ii1 ii1 ii1"
       " it1 it1 it1 it1 it1 it1 it1 it1 it1 it1 it1 it1"
       " ii2 ii2 ii2 ii2 ii2 ii2 ii2 ii2 ii2 ii2 ii2 ii2"
       "so so so so so so so so so so so so"
        " it2 it2 it2 it2 it2 it2 it2 it2 it2 it2 it2 it2"
        ". . . . it3 it3 it3 it3 . . . ."
       ". . . . ii6 ii6 ii6 ii6 . . . ."
       "ii3 ii3 ii3 ii3 ii4 ii4 ii4 ii4 ii5 ii5 ii5 ii5"
       "ii7 ii7 ii7 ii7 ii12 ii12 ii12 ii12 ii8 ii8 ii8 ii8"
       "ii9 ii9 ii9 ii9 ii10 ii10 ii10 ii10 ii11 ii11 ii11 ii11"
       ;
   
    }

}


@media (max-width: 37.25rem) {
    .indexmain{    
        display: grid;
   
       grid-template-columns: repeat(12, 1fr);
       
       /* column gap  */
       grid-column-gap: 2rem;
       /* row gap */
       row-gap: 3rem;
       /* define areas for elements */
       grid-template-areas:
       "ii1 ii1 ii1 ii1 ii1 ii1 ii1 ii1 ii1 ii1 ii1 ii1"
       " it1 it1 it1 it1 it1 it1 it1 it1 it1 it1 it1 it1"
       " ii2 ii2 ii2 ii2 ii2 ii2 ii2 ii2 ii2 ii2 ii2 ii2"
       "so so so so so so so so so so so so"
        " it2 it2 it2 it2 it2 it2 it2 it2 it2 it2 it2 it2"
        ". . . . it3 it3 it3 it3 . . . ."
        "ii3 ii3 ii3 ii3 ii3 ii3 ii6 ii6 ii6 ii6 ii6 ii6"
        "ii9 ii9 ii9 ii9 ii9 ii9 ii4 ii4 ii4 ii4 ii4 ii4"
        "ii8 ii8 ii8 ii8 ii8 ii8 ii5 ii5 ii5 ii5 ii5 ii5"
        "ii7 ii7 ii7 ii7 ii7 ii7 ii12 ii12 ii12 ii12 ii12 ii12"
        "ii10 ii10 ii10 ii10 ii10 ii10 ii11 ii11 ii11 ii11 ii11 ii11"
       ;
   
    }

}

@media (max-width: 62.125rem) {
    .newsmain {
        display: grid;
          
        /* column gap  */
        grid-column-gap: 2rem;
    /* row gap */
        row-gap: 2rem;
    /* define areas for elements */
        grid-template-areas:
        "nt1 nt1 nt1 nt1 nt1 nt1 nt1 nt1 nt1 nt1 nt1 nt1"
        "nt2 nt2 nt2 nt2 nt2 nt2 nt2 nt2 nt2 nt2 nt2 nt2"
        "nt3 nt3 nt3 nt3 nt3 nt3 nt3 nt3 nt3 nt3 nt3 nt3"
        "nt4 nt4 nt4 nt4 nt4 nt4 nt4 nt4 nt4 nt4 nt4 nt4"
        "nt5 nt5 nt5 nt5 nt5 nt5 nt5 nt5 nt5 nt5 nt5 nt5"
        "nt6 nt6 nt6 nt6 nt6 nt6 nt6 nt6 nt6 nt6 nt6 nt6"
    }


}

@media (max-width:85.25rem) {
    .festivalsmain {
        display: grid;
    
        /*    grid-template-columns: 2;*/
        grid-template-columns: repeat(12, 1fr);
        
        /* column gap  */
        grid-column-gap: 2rem;
    
        row-gap: 2rem;
    /* define areas for elements */
        grid-template-areas:
        "fi fi fi fi fi fi fi fi fi fi fi fi"
        "ft ft ft ft ft ft ft ft ft ft ft ft"
        ;

    }


    .citycommissionsmain{
        display: grid;
    
        /*    grid-template-columns: 2;*/
        grid-template-columns: repeat(12, 1fr);
        
        /* column gap  */
        grid-column-gap: 2rem;
    /* row gap */
        row-gap: 2rem;
        /* define areas for elements */
        grid-template-areas:
        "cci cci cci cci cci cci cci cci cci cci cci cci"
        "cct cct cct cct cct cct cct cct cct cct cct cct" 
        ;
    }


}




@media (max-width:48rem) {

    .supportersmain{
        display: grid;
    
        /*    grid-template-columns: 2;*/
        grid-template-columns: repeat(12, 1fr);
        
        /* column gap  */
        grid-column-gap: 2rem;
    /* row gap */
        row-gap: 2rem;
        /* define areas for elements */
        grid-template-areas:
        "st1 st1 st1 st1 st1 st1 st1 st1 st1 st1 st1 st1    "
        "st2 st2 st2 st2 st2 st2 st2 st2 st2 st2 st2 st2"
        "st3 st3 st3 st3 st3 st3 st3 st3 st3 st3 st3 st3"    
        ;
    }


}


@media (max-width:61.875rem) {

    .peoplemain {
        display: grid;
    
        /*    grid-template-columns: 2;*/
        grid-template-columns: repeat(12, 1fr);
        
        /* column gap  */
        grid-column-gap: 2rem;
    /* row gap */
        row-gap: 3rem;
    /* define areas for elements */
        grid-template-areas:
        "pt pt pt pt pt pt pt pt pt pt pt pt"
        "p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1"
        "p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2"
        "p3 p3 p3 p3 p3 p3 p3 p3 p3 p3 p3 p3"
        "p4 p4 p4 p4 p4 p4 p4 p4 p4 p4 p4 p4"
        "p5 p5 p5 p5 p5 p5 p5 p5 p5 p5 p5 p5"
        "p6 p6 p6 p6 p6 p6 p6 p6 p6 p6 p6 p6"
        "p7 p7 p7 p7 p7 p7 p7 p7 p7 p7 p7 p7"
        "p8 p8 p8 p8 p8 p8 p8 p8 p8 p8 p8 p8"
        ;
    
    }


}

@media (max-width:93.125rem){
    .covid19image1{
        grid-area: c19i1;
        display: grid;
        place-items: center;
    }
        
    
    .covid19image2{
        grid-area: c19i2;
        display: grid;
        place-items: center;
    
    }



}

@media (max-width:76rem){

    .wrapper {
        /* First define the column count  */
        display: grid;
    
        /* define columns */
        grid-template-columns: repeat(12, 1fr);
    
        /* 2nd, define rows  */
        grid-auto-rows: minmax(100px, auto);
    
        /* column gap  */
        grid-column-gap: 2rem;
        /* row gap */
        grid-row-gap: 0.01rem;
    /* define areas for elements */
        grid-template-areas: 
        "l l l l l l l l l l l l"
        "ln ln ln ln ln ln rn rn rn rn rn rn"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f";
    }
}