.wrapper {
    /* First define the column count  */
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    /* 2nd, define rows  */
    grid-template-rows: auto 1fr auto;
    /* column gap  */
    grid-column-gap: 2rem;

    grid-template-areas: 
        "ln ln ln ln ln l l rn rn rn rn rn"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f";
}

.leftnav {
    /* create named grid area  */
    grid-area: ln;  
}
.rightnav{
    grid-area: rn;
}
.main{
    grid-area: m;
        ;
}  
.footer{
    grid-area: f;  
}
.logo{
    grid-area: l;
}

.IndexImageOne{
    grid-area: II1;
    


}

.IndexTextOne{
    grid-area: IT1;
    

}

.navbar img{
    max-width: 100%;
    height: auto;
} 


.navbar ul{
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
    
    
}


.leftnav li{ 
    float: right;
    padding: 30px;   
}

.rightnav li{
    float: left;
    padding: 30px; 
}

.navbar li a {
    text-decoration: none;
    font-family: 'Sansita Swashed', cursive;
    display: block;
    }

.navbar li a:link {
    color:black;
}

.navbar li a:visited {
    color:black;
}

.navbar li a:hover {
    text-decoration: underline;
}

.navbar li a:active {
    color:grey;
}   